<style>
</style>

<template>
<p class="lead">Invoices</p>
<div v-if="user.account.is_managed">
    <p>Your account is managed. Please contact your account manager for questions you may have about billing.</p>
</div>
<div v-else>
    <div v-if="$loadingAsyncData">Loading...</div>
    <table class="table table-striped">
        <tbody>
            <tr v-for="invoice in invoices">
                <td>{{ invoice.total }}</td>
                <td>{{ invoice.human_date }}</td>
                <td>
                    <button v-on:click="getInvoiceLink(invoice.id, $event)" class="btn btn-default btn-small">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /v-else -->
</template>

<script>
module.exports = {
    name: 'invoices',
    mixins: [VueAsyncData.mixin],
    props: [
        'user'
    ],
    data: function()
    {
        return {
            invoices:
            {}
        }
    },
    methods:
    {
        getInvoiceLink: function(invoice_id, $event)
        {

            $event.srcElement.innerHTML = '<i class="fa fa-refresh fa-spin"></i>';
            apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices',
                sub3: invoice_id
            }, function(invoice, status, request)
            {
                console.log(invoice);
                window.open(invoice.url);
                $event.srcElement.innerHTML = 'View';
            });
        }
    },
    asyncData: function()
    {
        return apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices'
            })
            .then(function(userinvoices, status, request)
            {
                return {
                    invoices: userinvoices.data
                }
            });
    }

}
</script>