<style scoped>
.faded:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: 0.65;
    z-index: 99;
}

</style>

<template>
<p class="lead" style="display:inline-block">Subscription</p>
<button type="button" data-toggle="modal" data-target="#resumeModal" class="btn btn-primary btn-sm btn-flat" style="margin-left:10px" v-if="user.billing.cancelled === true">Resume</button>
<div class="btn-group" style="margin-left:10px;" v-else>
    <button type="button" class="btn btn-primary btn-sm btn-flat" data-toggle="dropdown" aria-expanded="false">Manage</button>
    <button type="button" class="btn btn-primary btn-sm btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" data-toggle="modal" data-target="#upgradeModal">Upgrade Subscription</a></li>
        <li class="divider"></li>
        <li><a href="#" data-toggle="modal" data-target="#cancelModal">Cancel Subscription</a></li>
    </ul>
</div>

<div v-if="user.account.is_managed">
    <p>Your account is managed. Please contact your account manager for questions you may have about billing.</p>
</div>
<div v-else>
    <div class="row-fluid" v-if="$root.subscribed && user.billing.cancelled != true">
        <div class="col-md-4 col-xs-12" :class="{ faded: user.billing.plan != 'ademical_mcm_basic_monthly' }">
            <ul class="list-group plan" id="plan_ademical_mcm_basic_monthly">
                <li class="list-group-item bg-teal active"><h4 class="list-group-item-heading">Basic</h4></li>
                <li class="list-group-item">Up to 10 accounts</li>
                <li class="list-group-item">$100/Month</li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12" :class="{ faded: user.billing.plan != 'ademical_mcm_plus_monthly' }">
            <ul class="list-group plan" id="plan_ademical_mcm_plus_monthly">
                <li class="list-group-item bg-maroon active"><h4 class="list-group-item-heading">Plus</h4></li>
                <li class="list-group-item">Up to 50 accounts</li>
                <li class="list-group-item">$300/Month</li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12" :class="{ faded: user.billing.plan != 'ademical_mcm_premium_monthly' }">
            <ul class="list-group plan" id="plan_ademical_mcm_premium_monthly">
                <li class="list-group-item bg-navy active"><h4 class="list-group-item-heading">Premium</h4></li>
                <li class="list-group-item">Up to 100 accounts</li>
                <li class="list-group-item">$500/Month</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid" v-else>
    You have cancelled your subscription. Please click the "Resume" button above to resume your subscription.
    </div>
</div>
<!-- /v-else -->

<div v-if="user.billing.cancelled === false">
    <upgrade-subscription-modal :user="user"></upgrade-subscription-modal>
    <cancel-subscription-modal :user="user"></cancel-subscription-modal>
</div><div v-else>
    <resume-subscription-modal :user="user"></resume-subscription-modal>
</div>


</template>

<script>
import cancelSubscription from './modals/cancelSubscriptionModal.vue';
import resumeSubscription from './modals/resumeSubscriptionModal.vue';
import upgradeSubscription from './modals/upgradeSubscriptionModal.vue';

module.exports = {
    name: 'subscription',
    mixins: [VueAsyncData.mixin],
    props: [
        'user'
    ],
    components:
    {
        'cancel-subscription-modal': cancelSubscription,
        'resume-subscription-modal': resumeSubscription,
        'upgrade-subscription-modal': upgradeSubscription,
        //'footer-component': Footer
    },
    data: function()
    {
    },
    methods:
    {

    }

}
</script>