<style scoped>

</style>

<template>

<div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li><a v-on:click="changeChart('outcome')" data-toggle="tab">Outcome</a></li>
              <li><a v-on:click="changeChart('impact')" data-toggle="tab">Impact</a></li>
              <li class="active"><a v-on:click="changeChart('cost')" data-toggle="tab">Cost</a></li>
              <li class="pull-left header">Overview</li>
            </ul>
            <div class="tab-content no-padding">
              <div id="dashboard_div" v-el:dashboard>
          <div id="chart_div"></div>
        </div>
            </div>
          </div>
  
</template>

<script> 
module.exports = {
    name: 'overview',
    props: {
        stats: {
            type: Array,
            required: false,
        },
        statsGrouped: {
            type: Object,
            required: false,
        }
    },
    methods: {
        createChart: function() {

            // Create a dashboard.
            //this.__dashboard = new google.visualization.Dashboard(this.$els.dashboard);

            this.__data = new google.visualization.DataTable();

            this.__data.addColumn('date', 'Date');
            this.__data.addColumn('number', 'Cost');
            this.__data.addColumn('number', 'Conversions');

            // Create a chart, passing some options
            this.__overviewChart = new google.visualization.ChartWrapper({
                'chartType': 'LineChart',
                'containerId': 'chart_div',
                dataTable: this.__data,
                'options': {
                    height: 400,
                    width: '100%',
                    legend: {
                        position: 'right'
                    },
                    vAxis: {
                        0: {
                            minValue: this.__data.getColumnRange(1).min * 0.75,
                            maxValue: this.__data.getColumnRange(1).max * 1.25
                        }
                    },
                    animation: {
                        duration: 1000,
                        easing: 'out',
                    },
                    series: {
                        // Gives each series an axis name that matches the Y-axis below.
                        0: {
                            axis: 'Dollars'
                        },
                        1: {
                            axis: 'Number'
                        }
                    },
                    axes: {
                        // Adds labels to each axis; they don't have to match the axis names.
                        y: {
                            Dollars: {
                                label: 'Dollars (USD)'
                            },
                            Number: {
                                label: 'Number'
                            }
                        }
                    },
                    trendlines: {
                        0: {
                            type: 'polynomial',
                            degree: 3,
                            lineWidth: 5,
                            opacity: 0.3,
                            visibleInLegend: true,
                            labelInLegend: 'Cost Trend',
                            tooltip: false
                        }
                    }
                }
            });



            console.log('chart created');
        },
        updateData: function() {
            var self = this;
            if (!_.isEmpty(this.$get('stats'))) {

                // Clear out our datatable, refill it with the new data.
                this.__data.removeRows(0, this.__data.getNumberOfRows());
                this.__data.addRows(self.statsToRows());

                // Add 10% spacing to the vertical axis
                this.__overviewChart.setOption('vAxis.minValue', this.__data.getColumnRange(1).min * 0.9);
                this.__overviewChart.setOption('vAxis.maxValue', this.__data.getColumnRange(1).max * 1.1);


                /*
                    If they only chose one day, make the range 3 days (so the chosen day sits in middle).
                    Otherwise, make the range the start date and end date
                 */
                var minDay = moment(this.__data.getColumnRange(0).min);
                var maxDay = moment(this.__data.getColumnRange(0).max);

                if (moment(this.__data.getColumnRange(0).min).isSame(this.__data.getColumnRange(0).max)) {
                    minDay.subtract(1, 'days');
                    maxDay.add(1, 'days');
                }

                this.__overviewChart.setOption('hAxis.minValue', minDay.toDate());
                this.__overviewChart.setOption('hAxis.maxValue', maxDay.toDate());

            }
        },
        statsByKey: function(statKey) {
            var array = [];
            _.forEach(this.$get('stats'), function(stat, key) {
                var newStat = [
                    moment(stat['date']).toDate(),
                    stat[statKey]
                ];

                array.push(newStat);
            });
            return array;
        },
        statsToRows: function() {
            var array = [];
            _.forEach(this.$get('stats'), function(stat, key) {
                var newStat = [
                    moment(stat['date']).toDate(),
                    stat['cost'],
                    stat['conversions']
                ];

                array.push(newStat);
            });
            return array;
        },
        newDate: function(days) {
            return moment().add(days, 'd').toDate();
        }
    },
    watch: {
        stats: function() {
            this.updateData();
            // Redraw our chart
            this.__overviewChart.draw();
        }
    },
    events: {
        'hide': function() {
            this.visible = false;
        },
        'show': function() {
            this.visible = true;
        },
        'data-loaded': function() {


        },
    },
    compiled: function() {

    },
    ready: function() {

        console.log('chart overview ready -----------------------');
        console.log(this.__overviewChart);

        this.createChart();
        this.updateData();
        this.__overviewChart.draw();
    },
    destroyed: function() {
        console.log('chart overview destroyed -----------------------');
    }
}
</script>