<style>
.title {
    color: #999;
    font-weight: 100;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20%;
}
.title a {
    display: block;
    margin-top: 20px;
}
.title a:hover {
    text-decoration: none;
}
</style>

<template>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 title">
			Sorry, we couldn't find what you were looking for :-(<br>
			<a href="/">Go back to the homepage</a>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
</template>

<script>

</script>