<style>
</style>

<template>
    <section class="content-header">
        <h1>
        {{ $route.label }}
        </h1>
    </section>
    <section class="content">
        <router-view :user="user" :account="account" :active-accounts="activeAccounts"></router-view>
    </section>
</template>

<script>
module.exports = {
    name: 'accounts',
	props: 
    [
        'user',
        'account'
    ],

	computed: 
    {
        activeAccounts: function () {
            // Get an array full of only active accounts
            return _.filter(this.user.account.accounts, {'active': true });
        }
    },

    ready: function () {

    }

}
</script>