<style>

</style>

<template>
    <section class="content-header">
        <h1>
        {{ $route.label }}
        </h1>
    </section>
    <section class="content">
        <router-view :user="user" :account="account"></router-view>
    </section>
</template>

<script>
module.exports = {
	name: 'advertisement',
	props: 
    [
        'user',
        'account'
    ],

    ready: function () {

    }
}
</script>