<template>
<router-view :user="user" :account="account"></router-view>
</template>

<script>
module.exports = {
	name: 'auth',
	props: 
    [
        'user',
        'account'
    ],

    ready: function () {
    	
    }
}
</script>