<style>

</style>

<template>
<div class="container">
    <div class="login-box" >
        <div class="login-logo">
            <a href="#">Login/Register</a>
        </div>
        <div class="login-box-body" id="login-body">
            <p class="login-box-msg" v-for="message in messages">{{{ message }}}</p>

            <div v-show="processing">
                <spinner></spinner>
            </div>
            <div class="social-auth-links text-center" v-el:socialbutton v-else>
            
                <button class="btn btn-block btn-social btn-google btn-flat" v-on:click="googleLogin"><i class="fa fa-google-plus"></i> Sign in using Google+</button>
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</div>
<!-- End container -->
</template>

<script>
module.exports = {
    name: 'login',
    components:
    {
        'spinner': componentSpinner
    },
    data: function()
    {
        return {
            isAlert: false,
            loggedIn: false,
            processing: false,
            userId: null,
            error:
            {
                token: null
            },
            profile: null,
            googleLoginOptions: null,
            messages: [
                'Because Ademical is centered around your AdWords account, you can log in using that same Google Account.',
                'If this is your first time using Ademical, we\'ll set you up using data from Google. <br> <strong>You will not be billed for anything at this stage.</strong>'
            ]
        }
    },

    methods:
    {
        googleLogin: function()
        {

            hello('google').login(this.googleLoginOptions);
        },

        authLogin: function()
        {
            this.messages = ['We\'re logging you in, hang tight...'];
            this.processing = true;

            hello('google').api('/me').then(function(profile)
            {
                authResponse = hello('google').getAuthResponse();

                profile['access_token'] = authResponse.access_token;
                profile['refresh_token'] = authResponse.refresh_token;

                that.profile = profile;
            });

        },
        userLogin: function()
        {
           Vue.http.post('users', that.profile).then(function (response) {
                that.loggedIn = true;
                that.userId = response.data.id;
                that.bindPusher();
          }, function (response) {
                that.processing = false;
                if (data.action === 'force_auth_approval')
                {
                    that.messages = ['Hmm, we couldn\'t grab the right info. Click the button again, and we\'ll try it another way.'];
                    that.googleLoginOptions = { force: true };
                } else {
                    that.messages = ['Something went wrong. Sorry about that, try again later'];
                }
          });

        },
        bindPusher: function()
        {
            console.log("binding to pusher");
            pusherUserChannel = pusher.subscribe('user.' + this.userId);

            pusherUserChannel.bind('App\\Events\\User\\UserLoggedIn', function(message) {

                that.processing = false;
                if (message.success)
                {
                    
                    // We'll get a date object with a time for
                    // one hour for now. We'll set it with our cookie
                    // expire time.
                    Cookies.set('jwt', message.token,
                    {
                        expires: moment().add(1, 'hours').toDate()
                    });

                    that.$dispatch('userLoginRecieved');

                } else {

                    that.messages = ['Something went wrong. Sorry about that, try again later'];
                }
                
                console.log('recieved pusher message');
                
                
            });
        }
    },
    events:
    {
        'data-loaded': function()
        {
            //this.$route.router.go('/');
            window.location.replace("/");
        }
    },
    ready: function()
    {

        that = this;
        hello.on('auth.login', that.authLogin);

        // Setup our hello instance with our options
        hello.init(
        {
            google: appConfig.services.google.client_id
        },
        {
            redirect_uri: appConfig.services.google.redirect_uri,
            response_type: appConfig.services.google.response_type,
            scope: appConfig.services.google.scope
        });

        /*this.$on('data-loaded', function()
        {
            this.$route.router.go('/home');
        });*/

        

    },
    attached: function()
    {
        //this.$dispatch('full-page', true);
    },
    detached: function()
    {
        //this.$dispatch('full-page', false);
    },

    watch:
    {
        'profile': 'userLogin',
        'processing': function()
        {
          if (this.processing == true) {/*
            Motion.animateOut(this.$els.socialbutton, 'slide-out-up ease-in-out fast');
            Motion.animateIn(this.$els.spinner, 'slide-in-down ease-in-out fast');*/
          } else if (this.processing == false) {/*
            Motion.animateIn(this.$els.socialbutton, 'slide-in-down ease-in-out fast');
            Motion.animateOut(this.$els.spinner, 'slide-out-up ease-in-out fast');*/
          }
        }
    },

    route:
    {
        activate: function(transition)
        {
            $('.main-header').css( "display", "none" );
            $('.main-sidebar').css( "display", "none" );
            $('.content-wrapper').css( "margin-left", "0" );
            // Dispatch the logout event to make sure all
            // cookies or user objects are clean.
            this.$dispatch('userHasLoggedOut');
             
            transition.next();
        }
    }
}
</script>