<template>

</template>

<script>
    module.exports = {

        route:
        {
            activate: function(transition)
            {
                this.$dispatch('userHasLoggedOut');
                window.location.replace("/auth");
            }
        }

    }
</script>