<style scoped>
[v-cloak] {
  display: none;
}

.list-group-item.active {
  border-color: rgba(0,0,0,0.15);
}
</style>

<template>

</div>
    <section class="content-header">
        <h1>
        {{ $route.label }}
        </h1>
    </section>
    <section class="content">

        <div class="col-md-3">
            <div class="box box-primary"  v-cloak>
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" :src="user.picture" alt="User profile picture">

                    <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Email</b><p class="text-muted">{{ user.email }}</p>
                        </li>
                        <li class="list-group-item">
                            <b>Account ID</b><p class="text-muted">{{ user.account.id }}</p>
                        </li>
                        <li class="list-group-item">
                            <b>Accounts</b> <a class="pull-right">{{ user.account.accounts.length }}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile_subscription" data-toggle="tab">Subscription</a></li>
                    <li><a href="#profile_invoices" data-toggle="tab">Invoices</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="profile_subscription">
                        <div class="container-fluid">
                            <subscription-component :user="user"></subscription-component>
                        </div>
                    </div>
                    <!-- /#profile_subscription -->
                    <div class="tab-pane" id="profile_invoices">
                        <div class="container-fluid">
                            <invoices-component :user="user"></invoices-component>
                        </div>
                    </div>
                    <!-- /#profile_invoices -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
        <!-- End tab panes col-md-9 -->
    </section>
</template>

<script>
import Invoices from './profile/invoices.vue';
import Subscription from './profile/subscription.vue';

module.exports = {
    name: 'profile',
    mixins: [VueAsyncData.mixin],
    props: [
        'user',
        'account'
    ],
    components:
    {
        'invoices-component': Invoices,
        'subscription-component': Subscription,
        //'footer-component': Footer
    },
    data: function()
    {
        return {
            invoices:
            {}
        }
    },
    ready: function() {

    },
    methods:
    {
        getInvoiceLink: function(invoice_id, $event)
        {

            $event.srcElement.innerHTML = '<i class="fa fa-refresh fa-spin"></i>';
            apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices',
                sub3: invoice_id
            }, function(invoice, status, request)
            {
                console.log(invoice);
                window.open(invoice.url);
                $event.srcElement.innerHTML = 'View';
            });
        }
    },
    created: function()
    {
        console.log('profile created');
    },
    asyncData: function()
    {
        var self = this;
        return apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices'
            })
            .then(function(userinvoices, status, request)
            {
                return {
                    invoices: userinvoices.data.data
                }
            });
    }

}
</script>