<style scoped>
.main-header {
	display: none;
}
</style>

<template>
<div class="loading"><span>&bull;</span><span>&bull;</span><span>&bull;</span></div>

	<h2>Please close this window to continue.</h2>
	<script>
		window.onbeforeunload = function(){
			document.getElementsByTagName('h2')[0].innerHTML="Redirecting, please wait";
		}
	</script>
	        <script src="/js/hello/hello.polyfill.js" type="text/javascript"></script>
	    <script src="/js/hello/hello.js" type="text/javascript"></script>
</template>

<script>
module.exports = {
  name: 'redirect',
  route:
    {
        activate: function(transition)
        {
            $('.main-header').css( "display", "none" );
            $('.main-sidebar').css( "display", "none" );
            $('.content-wrapper').css( "margin-left", "0" );
        }
    }
}
</script>