<style>
#subscribe-box {
  width: 650px;
}

#subscribe-box .list-group-item.active {
  border-color: rgba(0,0,0,0.15);
}

/*.plan-overlay {
    display: block;
    z-index: 10;
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);

}*/

#subscribe-box .plan {
    position: relative;
}

#subscribe-box .plan-overlay {
    transition: opacity 1s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 50;
    background: black;
}

#subscribe-box .plan-overlay.active {
    transition: opacity 1s ease;
    opacity: 1;
    height: auto;
}

#subscribe-box .plan-overlay.active:hover {
    transition: opacity 1s ease;
    opacity: 0;
    height: 0;
}
</style>

<template>
<div class="container">
    <div class="login-box" id="subscribe-box">
        <div class="login-logo">
            <span href="#">Pick a Plan!</span>
            <em style="font-size: 18px;display: block;">(You can upgrade later)</em>
        </div>
        <div class="login-box-body text-center" id="login-body">
            <spinner></spinner>
            <div v-el:planpicker>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <ul class="list-group plan" id="plan_ademical_mcm_basic_monthly">
                        <li class="list-group-item bg-teal active"><h4 class="list-group-item-heading">Basic</h4></li>
                        <li class="list-group-item">Up to 10 accounts</li>
                        <li class="list-group-item">$100/Month</li>
                        <li class="list-group-item"><button class="btn bg-teal btn-flat btn-block" v-on:click="setPlan('ademical_mcm_basic_monthly')">{{buttonText}}</button></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <ul class="list-group plan" id="plan_ademical_mcm_plus_monthly">
                        <li class="list-group-item bg-maroon active"><h4 class="list-group-item-heading">Plus</h4></li>
                        <li class="list-group-item">Up to 50 accounts</li>
                        <li class="list-group-item">$300/Month</li>
                        <li class="list-group-item"><button class="btn bg-maroon btn-flat btn-block" v-on:click="setPlan('ademical_mcm_plus_monthly')">{{buttonText}}</button></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <ul class="list-group plan" id="plan_ademical_mcm_premium_monthly">
                        <li class="list-group-item bg-navy active"><h4 class="list-group-item-heading">Premium</h4></li>
                        <li class="list-group-item">Up to 100 accounts</li>
                        <li class="list-group-item">$500/Month</li>
                        <li class="list-group-item"><button class="btn bg-navy btn-flat btn-block" v-on:click="setPlan('ademical_mcm_premium_monthly')">{{buttonText}}</button></li>
                    </ul>
                </div>
            </div>
            <p class="login-box-msg" v-for="message in messages">{{{ message }}}</p>
            <div id="cc_form" class="text-left" v-if="chosenPlan != null"  transition="expand">

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="cc_name">Cardholder's Name</label>
                        <input type="text" class="form-control" name="cc_name" debounce="1000" id="cc_name" placeholder="John Smith">
                    </div>
                    <div class="col-xs-12 form-group" v-bind:class="{ 'has-error': validNumber == false }">
                        <label for="cc_number">Card Number</label>
                        <input type="text" class="form-control" name="cc_number" v-model="ccNumber" debounce="1000" id="cc_number"  maxlength="16" size="16">
                    </div>
                    <div class="col-xs-12 col-md-6 form-group" style="padding-left:0px;padding-right:0px;" id="ccExpDates" v-bind:class="{ 'has-error': validExpiry == false }">
                        <div class="col-xs-12 col-md-6">
                            <label for="cc_exp_month">Exp. Month</label>
                            <select class="form-control" name="cc_exp_month" id="cc_exp_month" v-model="ccExpMonth" debounce="3000" number lazy>
                                <option v-for="month in monthOptions" v-bind:value="month.value">
                                    {{ month.value }}
                                </option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label for="cc_exp_year">Exp. Year</label>
                            <select class="form-control" name="cc_exp_year" id="cc_exp_year" v-model="ccExpYear" debounce="3000" number lazy>
                                <option v-for="year in yearOptions" v-bind:value="year.value">
                                    {{ year.value }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group" v-bind:class="{ 'has-error': validCVC == false }">
                        <label for="cc_cvc">Card Validation Code</label>
                        <input type="text" class="form-control" name="cc_cvc" id="cc_cvc" placeholder="123" maxlength="3" size="3" v-model="ccCVC" debounce="1000">
                    </div>
                </div>
                <button type="button" class="btn btn-block btn-primary btn-flat" v-on:click="validateCard">Submit</button>
            </div>
            <!-- /#cc_form -->
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</div>
<!-- End container -->
</template>

<script>
module.exports = {
    name: 'subscribe',
    components:
    {
        'spinner': componentSpinner
    },
    props: 
    [
        'user'
    ],
    data: function()
      {
        return {
            ccNumber: null,
            ccExpMonth: null,
            monthOptions: [
                { value: null },
                { value: 1 },
                { value: 2 },
                { value: 3 },
                { value: 4 },
                { value: 5 },
                { value: 6 },
                { value: 7 },
                { value: 8 },
                { value: 9 },
                { value: 10 },
                { value: 11 },
                { value: 12 }
            ],
            ccExpYear: null,
            yearOptions: [
                { value: null },
                { value: 16 },
                { value: 17 },
                { value: 18 },
                { value: 19 },
                { value: 20 },
                { value: 21 },
                { value: 22 },
                { value: 23 },
                { value: 24 },
                { value: 25 },
                { value: 26 },
                { value: 27 }
            ],
            ccCVC: null,
            cardValid: null,
            validNumber: null,
            validExpiry: null,
            validCVC: null,
            processing: false,
            chosenPlan: null,
            buttonText: 'Select',
            messages: [
                '<strong>Note:</strong> Your card information is <em>never</em> stored on our servers. It is processed securely by <a href="https://stripe.com/" target="_blank">stripe</a>. We just tell them what to bill you.'
            ]
        }
    },
    ready: function () {
        that = this;
      Stripe.setPublishableKey(appConfig.services.stripe.publishable_key);
      $('#cc_form').height($('#cc_form').height());
      $('#cc_form input').val('');
      /*this.card = new Skeuocard($("#skeuocard"), {
            debug: false
          });*/
    /*this.$on('userIsSubscribed', function()
        {
            this.$route.router.go('/home');
        });*/
    },
    events:
    {
        'data-loaded': function()
        {
            this.$route.router.go('/home');
        }
    },
    methods:
    {
        setPlan: function(plan)
        {
            
            if (this.chosenPlan == null) {
                // If they haven't picked a plan yet, we'll hide the other plans
                  this.chosenPlan = plan;
                  var non_active_plans = _.remove(['ademical_mcm_basic_monthly', 'ademical_mcm_plus_monthly', 'ademical_mcm_premium_monthly'], function(n) {
                      return n != plan;
                    });
                  _(non_active_plans).forEach(function(n) {
                        Motion.animateOut($('#plan_' + n), 'fade-out');
                    });
                  this.buttonText = 'UnSelect';
            } else {
                // They are unselecting their current plan. So we'll reset the chosenPlan to null,
                // and fade the hidden plans back into view.
                
                  var non_active_plans = _.remove(['ademical_mcm_basic_monthly', 'ademical_mcm_plus_monthly', 'ademical_mcm_premium_monthly'], function(n) {
                      return n != plan;
                    });
                  _(non_active_plans).forEach(function(n) {
                        Motion.animateIn($('#plan_' + n), 'fade-in');
                    });
                  this.buttonText = 'Select';
                  this.chosenPlan = null;
            }
        },

        validateCard: function()
        {

          if (Stripe.card.validateCardNumber(this.ccNumber) &&
              Stripe.card.validateExpiry(this.ccExpMonth, this.ccExpYear) &&
              Stripe.card.validateCVC(this.ccCVC)
             ){
                this.processing = true;
                $('cardBtn').prop('disabled', true);
                Stripe.card.createToken({
                    name: $('#cc_name').val(),
                    number: $('#cc_number').val(),
                    cvc: $('#cc_cvc').val(),
                    exp_month: $('#cc_exp_month').val(),
                    exp_year: $('#cc_exp_year').val()
                }, this.stripeResponseHandler);

                this.buttonClicked = true;
              }
        },

        stripeResponseHandler: function(status, response) {
          console.log(status);
          console.log(response);
          var $form = $('#payment-form');

          if (response.error) {
            this.messages = [response.error.message];
            this.processing = false;
            $('cardBtn').prop('disabled', false);
            // Show the errors on the form
            //$form.find('.bank-errors').text(response.error.message);
            //$form.find('button').prop('disabled', false);
          } else {
            // response contains id and bank_account, which contains additional bank account details
            var token = response.id;
            console.log('we are good');
            this.createSubscription(response);
            // Insert the token into the form so it gets submitted to the server
            //$form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and submit
            //$form.get(0).submit();
          }
        },

        createSubscription: function(stripeResponse) {

          var url = 'users/' + this.user.id + '/billing';
          // Adding the users chosen plan to the response to send to server
          stripeResponse['plan'] = this.chosenPlan;
          
      Vue.http.post(url, stripeResponse, function (data, status, request) {

          // set data on vm
          that.$dispatch('userHasLoggedIn');

          // TODO: The above code isn't working, just do a full reload for now.
          window.location.replace("/");
          
      }).error(function (data, status, request) {
          // handle error
          console.log(data);
          console.log(stat);
          //that.$route.router.go('/home');
      })

        },
        
        spinnerTrigger: function()
        {
          /*if (this.processing == true) {
            Motion.animateIn(this.$els.spinner, 'slide-in-down ease-in-out slow');
            Motion.animateOut(this.$els.planpicker, 'slide-out-up ease-in-out slow');
          } else if (this.processing == false) {
            Motion.animateOut(this.$els.spinner, 'slide-out-up ease-in-out slow');
            Motion.animateIn(this.$els.planpicker, 'slide-in-down ease-in-out slow');
          }*/
        }
    },
    events:
    {
        'user-loaded': function()
        {
            this.$route.router.go('/');
        }
    },
    watch:
    {
      'ccNumber': function (val) {
        this.validNumber = Stripe.card.validateCardNumber(val);
      },
      'ccExpMonth': function (val) {
        this.validExpiry = Stripe.card.validateExpiry(this.ccExpMonth, this.ccExpYear);
      },
      'ccExpYear': function (val) {
        this.validExpiry = Stripe.card.validateExpiry(this.ccExpMonth, this.ccExpYear);
      },
      'ccCVC': function (val) {
        this.validCVC = Stripe.card.validateCVC(val);
      },
      'processing': 'spinnerTrigger',
    },
    route:
    {
        activate: function(transition)
        {
            $('.main-header').css( "display", "none" );
            $('.main-sidebar').css( "display", "none" );
            $('.content-wrapper').css( "margin-left", "0" );
        }
    }

}
</script>