<style scoped>
.modal-footer {
    text-align: center;
}
</style>

<template>
<div class="modal modal-danger fade" id="cancelModal" tabindex="-1" role="dialog" data-backdrop="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Cancel Subscription?</h4>
              </div>
              <div class="modal-body">
                <p>You are about to cancel your subscription to Ademical. You will continue to have access to Ademical until the end of this subscription period.</p>
                <p>To confirm your cancellation, please enter the last 4 digits of the card number associated with this account, and click "Confirm" below.</p>
                <form id="cancelForm">
                    <div class="form-group">
                        <input type="number" maxlength="4" min="0000" max="9999" class="form-control" name="lastFour" style="max-width:120px;" v-model="lastFour" number>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <p class="errorText" style="display:inline-block" v-cloak>{{cancelMsg}}</p>
                <button type="button" class="btn btn-outline pull-right" v-on:click="validateCancel($event)">Confirm</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
</template>

<script>
module.exports = {
    name: 'cancelSubscriptionModal',
    props: [
        'user'
    ],
    data: function()
    {
        return {
            cancelMsg: '',
            lastFour: null,
        }
    },
    methods:
    {
        validateCancel: function($event)
        {
            var self = this;
            self.cancelMsg = '';
            $event.srcElement.innerHTML = '<i class="fa fa-refresh fa-spin"></i>';

            apiUser.delete({sub1: 'billing'}, {lastFour: self.lastFour},
                 function (data, status, request) {
                      if (status === 205) {
                        location.reload();
                      }
                  }).error(function (data, status, request) {
                      console.log(data);
                      self.cancelMsg = data.message;
                      $event.srcElement.innerHTML = 'Confirm';
                  });
        }
    }

}
</script>