<style scoped>
.modal-footer {
    text-align: center;
}
</style>

<template>
<div class="modal modal-primary fade" id="resumeModal" tabindex="-1" data-backdrop="false" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Resume Subscription?</h4>
              </div>
              <div class="modal-body">
                <p>You are about to resume your subscription to Ademical. Because your previous subscription has not yet expired, you will not be billed immediately. Instead, your original subscription will be re-activated, and you will be billed according to the original billing cycle.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <p class="errorText" style="display:inline-block" v-cloak>{{resumeMsg}}</p>
                <button type="button" class="btn btn-outline pull-right" v-on:click="validateResume($event)">Confirm</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
</template>

<script>
module.exports = {
    name: 'resumeSubscriptionModal',
    props: [
        'user'
    ],
    data: function()
    {
        return {
            resumeMsg: ''
        }
    },
    methods:
    {
        validateResume: function($event)
        {
            var self = this;
            self.resumeMsg = '';
            $event.srcElement.innerHTML = '<i class="fa fa-refresh fa-spin"></i>';
            /*apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices',
                sub3: invoice_id
            }, function(invoice, status, request)
            {
                console.log(invoice);
                window.open(invoice.url);
                $event.srcElement.innerHTML = 'Confirm';
            });*/

            // I can't make a blank post request, so I'll put 'nothing' in here.
            apiUser.save({sub1: 'billing', sub2: 'resume'}, {nothing: ''},
                 function (data, status, request) {
                      if (status === 205) {
                        location.reload();
                      }
                  }).error(function (data, status, request) {
                      console.log(data);
                      self.resumeMsg = data.message;
                      $event.srcElement.innerHTML = 'Confirm';
                  });
        }
    }

}
</script>