<style scoped>
.modal-footer {
    text-align: center;
}
</style>

<template>
<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" data-backdrop="false" v-el:upgrade-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Upgrade Subscription?</h4>
            </div>
            <div class="modal-body">
                <div v-if="user.billing.plan == 'ademical_mcm_premium_monthly'">
                    <p>You are already on our highest plan. At this point in time, you cannot downgrade to a lower level plan through the website. Please contact me for assistance.</p>
                </div>
                <div v-else>
                    <p>You are about to upgrade your subscription to Ademical. Your upgrade will be prorated, you will only pay the new subscription price for the remaining days in this billing cycle. You will be billed immediately.</p>
                    <p>Please note that at this point in time, you cannot downgrade to a lower level plan through the website. If you need to downgrade your plan, please contact me for assistance.</p>
                    <div class="row">
                        <div class="col-md-6 col-xs-12" v-if="user.billing.plan == 'ademical_mcm_basic_monthly'">
                            <ul class="list-group plan" id="plan_ademical_mcm_plus_monthly">
                                <li class="list-group-item bg-maroon active"><h4 class="list-group-item-heading">Plus</h4></li>
                                <li class="list-group-item">Up to 50 accounts</li>
                                <li class="list-group-item">$300/Month</li>
                                <li class="list-group-item"><button class="btn bg-maroon btn-flat btn-block" v-on:click="setPlan('ademical_mcm_plus_monthly', $event)">{{buttonText}}</button></li>
                            </ul>
                        </div>
                        <div class="col-xs-12" :class="{ 'col-md-6': user.billing.plan == 'ademical_mcm_basic_monthly' }">
                            <ul class="list-group plan" id="plan_ademical_mcm_premium_monthly">
                                <li class="list-group-item bg-navy active"><h4 class="list-group-item-heading">Premium</h4></li>
                                <li class="list-group-item">Up to 100 accounts</li>
                                <li class="list-group-item">$500/Month</li>
                                <li class="list-group-item"><button class="btn bg-navy btn-flat btn-block" v-on:click="setPlan('ademical_mcm_premium_monthly', $event)">{{buttonText}}</button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                    <p>To confirm your upgrade, please enter the last 4 digits of the card number associated with this account, and click "Confirm" below.</p>
                    <form id="cancelForm">
                        <div class="form-group">
                            <input type="number" maxlength="4" min="0000" max="9999" class="form-control" name="lastFour" style="max-width:120px;" v-model="lastFour" number>
                        </div>
                    </form>
                </div>
                <!-- /v-else -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <p class="errorText" style="display:inline-block" v-cloak>{{upgradeMsg}}</p>
                <button type="button" class="btn btn-primary pull-right" v-on:click="validateUpgrade($event)" v-bind="{ disabled: !chosenPlan}">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</template>

<script>
module.exports = {
    name: 'upgradeSubscriptionModal',
    props: [
        'user'
    ],
    data: function()
    {
        return {
            upgradeMsg: '',
            buttonText: 'Select',
            chosenPlan: null
        }
    },
    methods:
    {

        setPlan: function(plan)
        {
          self = this;
            
            if (this.chosenPlan == null) {
                // If they haven't picked a plan yet, we'll hide the other plans
                  this.chosenPlan = plan;
                  var non_active_plans = _.remove(['ademical_mcm_basic_monthly', 'ademical_mcm_plus_monthly', 'ademical_mcm_premium_monthly'], function(n) {
                      return n != plan;
                    });
                  _(non_active_plans).forEach(function(n) {
                        Motion.animateOut($('#upgradeModal #plan_' + n), 'fade-out');
                    });
                  this.buttonText = 'UnSelect';
            } else {
                // They are unselecting their current plan. So we'll reset the chosenPlan to null,
                // and fade the hidden plans back into view.
                
                  var non_active_plans = _.remove(['ademical_mcm_basic_monthly', 'ademical_mcm_plus_monthly', 'ademical_mcm_premium_monthly'], function(n) {
                      return n != plan;
                    });
                  _(non_active_plans).forEach(function(n) {
                        Motion.animateIn($('#upgradeModal #plan_' + n), 'fade-in');
                    });
                  this.buttonText = 'Select';
                  this.chosenPlan = null;
            }
        },

        validateUpgrade: function($event)
        {
            var self = this;
            self.upgradeMsg = '';
            $event.srcElement.innerHTML = '<i class="fa fa-refresh fa-spin"></i>';
            /*apiUser.get(
            {
                sub1: 'billing',
                sub2: 'invoices',
                sub3: invoice_id
            }, function(invoice, status, request)
            {
                console.log(invoice);
                window.open(invoice.url);
                $event.srcElement.innerHTML = 'Confirm';
            });*/

            apiUser.update({sub1: 'billing'}, {lastFour: self.lastFour, plan: self.chosenPlan},
                 function (data, status, request) {
                      if (status === 205) {
                        location.reload();
                      }
                  }).error(function (data, status, request) {
                      console.log(data);
                      self.upgradeMsg = data.message;
                      $event.srcElement.innerHTML = 'Confirm';
                  });
        }
    }

}
</script>