<style>

</style>

<template>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="account in user.account.accounts">
                        <td>{{ account.id }}</td>
                        <td>{{ account.company_name }}</td>
                        <td>{{ account.description }}</td>
                        <td>
                            <span class="label label-success"v-if="account.active">Active</span>
                            <span class="label label-warning" v-else>Inactive</span>
                        </td>
                        <td>
                        	<button type="button" class="btn btn-danger" v-on:click="this.$broadcast('deActivateAccount', account.id)" v-if="account.active">Deactivate</button>
                            <button type="button" class="btn btn-primary" v-on:click="this.$broadcast('activateAccount', account.id)" v-else>Activate</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<activate-component></activate-component>
<deactivate-component></deactivate-component>
</template>

<script>
import ActivateAccount from './actions/activateAccount.vue';
import DeActivateAccount from './actions/deActivateAccount.vue';

module.exports = {
    name: 'accounts',
    components:
    {
        'activate-component': ActivateAccount,
        'deactivate-component': DeActivateAccount
    },
    data: function()
    {
        return {
            selected: null,
        }
    },
	props: 
    [
        'user',
        'account',
        'activeAccounts'
    ],

    ready: function () {

    }

}
</script>