<style>
  .main-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
  }
</style>

<template>
<!-- Main Footer -->
<footer class="main-footer" v-el:footer>
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Ademical is in development. Expect bugs.
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="http://haydenbickerton.com">Hayden Bickerton</a> - <a v-link="{ path: '/terms'}">Terms Of Service</a></strong>
</footer>
</template>

<script>
module.exports = {
  name: 'footer',
  data: function () {
    return {
      visible: false,
    }
  },
  ready: function()
    {
        $('.main-content-wrapper').css('bottom', $(this.$els.footer).height());
    },
  methods:
    {
        show: function()
        {
          if (!this.visible) {
            console.log('slide-in-up');
            Motion.animateIn(this.$els.footer, 'slide-in-up bounce-in-out');
            this.visible = true;
          }
        },

        hide: function()
        {
          if (this.visible) {
            console.log('slide-out-down');
            Motion.animateOut(this.$els.footer, 'slide-out-down bounce-in-out slow');
            this.visible = false;
          }
        },

        isVisible: function(state)
        {
          if (state == true) {
            //this.show();
          } else if (state == false) {
            //this.hide();
          }
        }
    }
}
</script>