<style lang="less">
//Navbar custom dropdown menu
.navbar-nav > .accounts-menu {
  //fix width and padding
  > .dropdown-menu {
    > li {
      position: relative;
    }
    width: 280px;
    //Remove padding and margins
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
  }
  //Define header class
  > .dropdown-menu > li.header {
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
  }

  //Define footer class
  > .dropdown-menu > li.footer > a {
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    //@media (max-width: @screen-sm-max) {
    //  background: #fff !important;
    //  color: #444 !important;
    //}
    text-align: center;
    //Hover state
    &:hover {
      text-decoration: none;
      font-weight: normal;
    }
  }

  //Clear inner menu padding and margins
  > .dropdown-menu > li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    > li > a {
      display: block;
      white-space: nowrap; /* Prevent text from breaking */
      border-bottom: 1px solid #f4f4f4;
      // Hove state
      &:hover {
        background: #f4f4f4;
        text-decoration: none;
      }
    }
  }
}

//Accounts menu
.navbar-nav > .accounts-menu {
  //Inner menu
  > .dropdown-menu > li .menu {
    // Accounts menu item
    > li > a {
      margin: 0;
      //line-height: 20px;
      padding: 10px 10px;
      // User image
      > div > img {
        margin: auto 10px auto auto;
        width: 40px;
        height: 40px;
      }
      // Account heading
      > h4 {
        padding: 0;
        margin: 0 0 0 45px;
        color: #444444;
        font-size: 15px;
        position: relative;
        // Small for account time display
        > small {
          color: #999999;
          font-size: 10px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      > p {
        margin: 0 0 0 45px;
        font-size: 12px;
        color: #888888;
      }

    }

  }
}

/*.main-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 50px;
  }*/
</style>
<template>
<header class="main-header" v-el:header>
    <!-- Logo -->
    <a v-link="{ name: 'advertisement' }" class="logo">
      {{navTitle}}
    </a>
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
<!--       <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> -->

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown accounts-menu" v-link-active v-if="user.account.can_manage">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="header">You have {{ user.account.accounts | filterBy 'true' in 'active' | size }} active accounts</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <!-- start account -->
                                    <li v-for="account in user.account.accounts | filterBy 'true' in 'active'">
                                        <a v-on:click="this.$dispatch('select-account', account.id)">
                                            <h6>
                                            {{ account.id }}
                                            </h6>
                                            <p>{{ account.company_name }}</p>
                                        </a>
                                    </li>
                                    <!-- end account -->
                                </ul>
                            </li>
                            <li class="footer"><a v-link="{ name: 'accounts' }">Manage Accounts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <header-notifications
                        :user="user">
                    </header-notifications>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu" v-link-active>
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img :src="user.picture" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img :src="user.picture" class="img-circle" alt="User Image">
                                <p>
                                {{ user.first_name }} {{ user.last_name }}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a v-link="{ path: '/auth/profile' }" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a v-link="{ path: '/auth/logout' }" class="btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
            <!-- Collect the nav links, forms, and other content for toggling -->

    </nav>
</header>

</template>
<script>
import headerNotifications from './partials/headerNotifications.vue';
module.exports = {
    name: 'header',
    computed: 
    {
        activdeAccounts: function () {
            // Get an array full of only active accounts
            return _.filter(this.user.account.accounts, {'active': true });
        }
    },
    components: {
      "header-notifications": headerNotifications
    },
    props: 
    [
        'user'
    ],
    data: function () 
    {
        return {
        visible: true,
        navTitle: 'Ademical',
        accounts: null,
        authenticated: false,
        dateText: null,
        notifications: [],
        }
    },
    ready: function()
    {
        $('.main-content-wrapper').css('padding-top', $(this.$els.header).height());
        //dateRangePicker('daterange-btn');
    },
    events:
    {
        'data-loaded': function()
        {
            // I don't like the idea of having a variable just for the header component,
            // when the parent has one, but I do this to prevent the topbar from
            // changing before the data has loaded completely. TODO
            this.authenticated = true;
        }
    },
    methods:
    {
        show: function()
        {
          if (!this.visible) {
            Motion.animateIn(this.$els.header, 'slide-in-down bounce-in-out');
            this.visible = true;
          }
        },

        hide: function()
        {
          if (this.visible) {
            Motion.animateOut(this.$els.header, 'slide-out-up bounce-in-out');
            this.visible = false;
          }
        },
        isVisible: function(state)
        {
          if (state == true) {
            this.show();
          } else if (state == false) {
            this.hide();
          }
        }
    }

}
</script>