<style scoped>
.main-sidebar {
  background-color: #222d32;
}

.account-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    color: #fff;
}
.account-panel > .info {
    padding: 5px 5px 5px 10px;
    line-height: 1;
}
.account-panel > .info > p {
    font-weight: 600;
    margin-bottom: 9px;
}
.account-panel > .info > a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
#vue-date-picker {
  background-color: #374850;
}
.sidebar-form {
  border-width: 0px; 
}
</style>

<template>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="account-panel">
        <div class="pull-left info">
          <p>{{ account.company_name || account.descriptive_name }}</p>
          <p><small>{{ account.id }}</small></p>
          <a href="#">
            <span v-if="account.active">
              <i class="fa fa-circle text-success"></i> Active
            </span>
            <span v-else>
              <i class="fa fa-circle text-danger"></i> Inactive
            </span>
          </a>
        </div>
      </div>
      <form class="sidebar-form">
          <vue-date-picker class="btn btn-default btn-block"></vue-date-picker>
      </form>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">ADVERTISEMENT</li>
        <li v-link-active><a v-link="{ name: 'advertisement' }">Overview</a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
module.exports = {
  name: 'sidebar',
  data: function () {
    return {
      visible: false,
    }
  },
  components: {
    "vue-date-picker": vueDatePicker
  },
  props: 
  [
    'user',
    'account',
    'authenticated',
    'subscribed'
  ],
  ready: function()
    {

    },
  methods:
    {

    }
}
</script>