<style>

</style>

<template>
<div v-show="$loadingAsyncData">
    <spinner></spinner>
</div>
<div v-show="!$loadingAsyncData">

    <div v-if="account.stats == undefined || account.stats.length <= 0">
        <div class="text-center"><p>There is no data for the selected date range.</p></div>
    </div>
    <div v-else>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <info-box class="info-box">
                <span slot="icon"><span class="info-box-icon bg-aqua"><i class="fa fa-usd"></i></span></span>
                <span slot="text">Cost</span>
                <span slot="number" class="odometer">{{ statTotal('cost') }}</span>
            </info-box>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <info-box class="info-box">
                <span slot="icon"><span class="info-box-icon bg-yellow"><i class="fa fa-eye"></i></span></span>
                <span slot="text">Impressions</span>
                <span slot="number" class="odometer">{{ statTotal('impressions') }}</span>
            </info-box>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <math-box
                :numbers="[{stat: 'Conversions', value: statTotal('conversions')}, {stat: 'Clicks', value: statTotal('clicks')}, {stat: 'CTR', value: statMean('ctr') + '%'}]"
            >
                <span slot="icon"><span class="info-box-icon bg-purple"><i class="fa fa-hand-o-up" style="position: relative;"><span style="font-size: 14px;position: absolute;top: -5px;right: 0;font-weight:700;">%</span></i></span></span>
            </math-box>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <info-box class="info-box">
                <span slot="icon"><span class="info-box-icon bg-green"><i class="fa fa-usd"></i></span></span>
                <span slot="text">Cost</span>
                <span slot="number" class="odometer">{{ statTotal('cost') }}</span>
            </info-box>
        </div>

        <div class="col-md-12">
            <overview
                :stats="account.stats">
            </overview>
        </div>
    </div>
</div>
</template>

<script> 
module.exports = {
    name: 'index',
    mixins: [VueAsyncData.mixin],
    props: [
        'user',
        'account'
    ],
    components:
    {
        'spinner': componentSpinner,
        'overview': componentChartOverview,
        'infoBox': componentInfoBox,
        'mathBox': componentMathBox
    },
    asyncData: function()
    {
        var self = this;

        self.loading = true;

        return new Promise(function(resolve, reject)
        {
            if (!self.statsGrouped)
            {
                self.chartVisible = false;
                self.$loadingAsyncData = false;
                reject();
            }

            self.loading = false;

            resolve(self.statsGrouped);

        }).then(function()
        {

            console.log('here');

            var statLabels = [];


            _.forEach(self.$get('account.stats'), function(stat, key)
            {

                statLabels.push(moment(stat['date'], 'YYYY-MM-DD').toDate());

            });

            self.chartVisible = true;
            self.loading = false;

        });


    },
    data: function()
    {
        return {
            accountHasData: null,
            loading: true,
            chartVisible: false,
            timeFormat: 'YYYY-MM-DD',
        }
    },

    events:
    {
        'stats-loaded': function() {

        }
    },
    watch:
    {
        'statsGrouped': function(val)
        {
            console.log(val);
        },

        statsGrouped: 'reloadAsyncData'
    },
    computed:
    {

        statsGrouped: function()
        {

            var grouped = _.chain(this.$get('account.stats'))
                .groupBy('type')
                .map(function(value, key)
                {
                    return {
                        cost: _.map(value, 'cost'),
                        avg_cpc: _.map(value, 'avg_cpc'),
                        ctr: _.map(value, 'ctr'),
                        impressions: _.map(value, 'impressions'),
                        clicks: _.map(value, 'clicks'),
                        avg_position: _.map(value, 'avg_position'),
                        date: _.map(value, 'date')
                    }
                });

            if (!_.isEmpty(this.$get('account.stats')))
            {
                return _.head(grouped);
            }
        }
    },
    methods:
    {
        statsByKey: function(statKey)
        {
            var array = [];
            _.forEach(this.$get('account.stats'), function(stat, key)
            {

                var newStat = {
                    date: stat['date'],
                    value: stat[statKey]
                };

                array.push(_.toPlainObject(newStat));
            });
            return array;
        },
        statTotal: function(statKey)
        {
            return _
                .chain(this.statsByKey(statKey))
                .sumBy('value')
                .round(2)
                .value();
        },
        statMean: function(statKey)
        {
            return _
                .chain(this.statsByKey(statKey))
                .map('value')
                .mean()
                .round(2)
                .value();
        },

        
        newDate: function(days)
        {
            return moment().add(days, 'd').toDate();
        }
    },

    ready: function()
    {

    }
}
</script>