<style>
  .wrapper {
    background:#ecf0f5;
    z-index: 150; /* So we can sit above the modal-backdrop */
  }
  .main-content-wrappers {
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
  }
    [v-cloak] {
  display: none;
}
</style>
<template>

<div class="wrapper">
<div v-if="authenticated && subscribed && kickedOff">
    <header-component 
        :user="user" 
        v-ref:header>
    </header-component>
    <sidebar-component 
        :user="user"
        :account="account"
        :authenticated="authenticated"
        :subscribed="subscribed"
        v-ref:sidebar>
    </sidebar-component>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="main-content-wrapper content-wrapper">
      <router-view :user="user" :account="account"></router-view>
    </div>
    <!-- End content-wrapper -->
    <!-- <footer-component v-ref:footer></footer-component> -->
</div><!-- ./wrapper -->
</template>

<script>
module.exports = {

    name: 'app',

    mixins: [],

    asyncData: function() {},

    created: function() {
        //console.log('created app');
        window.appInstance = this;
        window.app = this;
        window.apiUser = this.$resource('users{/sub1}{/sub2}{/sub3}');
        window.apiAccount = this.$resource('accounts{/sub1}{/sub2}{/sub3}');
        window.apiStats = this.$resource('accounts{/sub1}/stats');

    },

    ready: function() {

    },

    components: {
        'header-component': componentHeader,
        'sidebar-component': componentSidebar,
        //'footer-component': Footer
    },

    data: function() {
        /*
         * Note that while we have a user object and an account object, the account object 
         * doesn't have to be the logged in users account. Because AdWords managers can flip through
         * their clients accounts, we'll set the account object to be whichever account is in
         * view, and the account of the logged in user will be nested in the user object. And the client
         * accounts of a the manager account will be nested under that user account.
         *
         * Basic tree:
         *
         * user -- user account of logged in user
         *     account -- adwords account of logged in user
         *         accounts -- client accounts of the above adwords account
         *     billing -- billing info for the logged in user
         * account -- adwords account of the account in view
         *
         * authenticated and subscribed are set to null, not false. This is because they may have a
         * jwt token as a cookie that hasn't expired, and we need to grab their user info. So if a user
         * refreshes the page or gets here via direct link, we can log them back in.
         */
        return {
            user: {
                account: {
                    accounts: []
                },
                billing: {

                }
            },
            account: {
                accounts: [],
                stats: {

                }
            },
            activeAccounts: null,
            hasToken: null,
            authenticated: null,
            subscribed: null,
            kickedOff: false,
        }
    },

    events: {
        'user-loaded': function() {
            console.log('user loaded');
        },
        'account-loaded': function() {
            console.log('account loaded');
            //this.$emit('statsNeedsRefreshed');
        },
        'stats-loaded': function() {
            console.log('stats loaded');
            this.$broadcast('stats-loaded');
            this.$emit('data-loaded');
        },
        'data-loaded': function() {
            console.log('data loaded');
            this.$broadcast('data-loaded');
        },
        'select-account': function(id) {
            // We'll set the 'this.account' object for the main App instance.

            // The accounts object uses integers as keys,
            // and this.$get('user.account.accounts.' + id) doesn't
            // work with that.
            this.$set('account', this.user.account.accounts[id]);
            this.$emit('statsNeedsRefreshed');
        },
        'full-page': function(state) {
            /*
             * The way this will get called is like:
             * this.$dispatch('full-page', true);
             *
             * So we're sending the opposite of the state 
             * because in full page, header/footer should 
             * not be visible, so we shouldn't pass the 'true'
             */
            this.$refs.header.isVisible(!state);
        },
        'userHasLoggedIn': function() {
            this.getUser('account.accounts,billing');
        },
        'userLoginRecieved': function() {
            new Promise(function(resolve, reject) {

                resolve(appInstance.checkToken());

            }).then(function() {
                appInstance.checkLogin();
            })
        },
        'accountNeedsRefreshed': function() {
            //console.log('account refresh');
            this.getAccount(this.user.account.id);
        },
        'statsNeedsRefreshed': function(criteria) {
            this.getStats(criteria);
            //this.$emit('stats-loaded');
        },
        'tokenSet': function() {
            this.getUser('billing');
        },
        'kickedOff': function() {
            Motion.animateOut($('#preloader'), 'fade-out ease fast long-delay');
            this.$broadcast('kickedOff');
        },
        'userHasLoggedOut': 'destroyUser',
        'date-changed': function(criteria) {
            //console.log('date changed triggered');
            //this.$broadcast('date-changed');
            this.getStats(criteria);
        },
    },
    watch: {},

    methods: {
        kickOff: function() {
            /*
             * The kickoff will check if the user has a login (from the cookie),
             * and set everything up according to that. It is run in the routes file,
             * before anything else renders.
             */
            return new Promise(function(resolve, reject) {

                    resolve(appInstance.checkToken());

                }).then(function() {
                    return appInstance.checkLogin();
                }).then(function() {
                    return appInstance.checkSubscription();
                })
                .then(function() {
                    //console.log('done with kickoff');
                    appInstance.$set('kickedOff', true);
                    appInstance.$emit('kickedOff');
                });

        },

        initUserData: function() {
            return this.getUser('account.accounts,billing') // Get all the user data...
                .then(function() {
                    return appInstance.checkSubscription(); // See if they are subscribed...
                })
                .then(function() {
                    return appInstance.getAccount(appInstance.$get('user.account.id')); // Grab their adwords account...
                })
                .then(function() {
                    appInstance.$emit('statsNeedsRefreshed');
                })
                .catch(function(error) {
                    console.log(error);
                    return false; // At least one of the above failed. Return false...
                })
                .then(function() {
                    return true; // All good, return true...
                });
        },

        checkToken: function() {
            /*
             * If the user arrived from a direct link (or typing ademical.com/home in address bar) instead of going
             * through the auth page and authenticating, then we won't have the user and authenticated data set. So
             * we'll check to see if they have a jwt token, and if they do then we'll get their profile and set them
             * up. Basically logging in.
             */
            //console.log('Checking Token...');
            var token = Cookies.get('jwt');
            if (!_.isUndefined(token)) {
                Vue.http.headers.common['Authorization'] = 'Bearer ' + token;
                this.$set('hasToken', true);
                //return true;

            }
            else {
                this.$set('hasToken', false);
                //return false;
                // They don't have a token, they need to be reauthenticated to access this route
                //if (this.$route.auth) this.$route.router.go('/auth');
            }
        },

        checkLogin: function() {
            //console.log('Checking Login...');
            if (this.$get('hasToken')) {
                if (appInstance.$get('authenticated') === true) {
                    // They are logged in. Return true.
                    return this.$get('authenticated');
                }
                else {

                    return this.initUserData()
                        .catch(function(error) {
                            console.log(error);
                            console.log('derp');
                            appInstance.$set('authenticated', false);
                        })
                        .then(function() {
                            return appInstance.$get('authenticated');
                        });
                }
            }
            else {
                appInstance.$set('authenticated', false); //No token, they aren't logged in
            }
        },

        checkSubscription: function() {
            //console.log('Checking Subscription...');
            // If they aren't logged in there's no point in checking subscription
            if (appInstance.$get('authenticated') === true) {

                if (appInstance.$get('subscribed') != null) {
                    return this.$get('subscribed');
                }
                else {

                    /*
                     * Make sure the user billing has been retrieved first.
                     */
                    if (!_.isUndefined(this.$get('user.billing.subscribed'))) {
                        this.$set('subscribed', this.$get('user.billing.subscribed'));
                        return this.$get('subscribed');
                    }

                }
            }
        },

        getUser: function(include) {
            /*
             * We're including the (adwords) account and billing info,
             * so we can make requests for full account info and adjust
             * the UI depending on their subscription status, manager account, etc.
             */
            return apiUser.get({
                include: include
            }).then(function(response) {

                var userData = _.deepMapContext(response.data, 'data');

                // We'll map the account.accounts object to be keyed by the account ids.
                // Yeah, I'm using integers as the keys. YOLO
                // (They'll be converted to strings)
                userData.account.accounts = _.mapKeys(userData.account.accounts, function(value, key) {
                    return value.id;
                })

                this.$set('user', userData);
                this.$set('authenticated', true);
                this.$emit('user-loaded');
            }, function(response) {
                console.log('User get failed.');
                console.log(response);
                appInstance.destroyUser();
            });

        },

        destroyUser: function(user) {
            console.log("destroyUser called");
            // Cleanup when token was invalid our user has logged out
            hello('google').logout();
            Cookies.remove('jwt');
            if (this.$route.auth) window.location.replace("/auth");
        },

        getAccount: function(id, include) {
            return apiAccount.get({
                sub1: id,
                include: include
            }).then(function(response) {
                // Account had been received successfully. Let's set it.
                this.$set('account', response.data);
                this.$emit('account-loaded');
            }, function(response) {
                console.log('Account get failed.');
                console.log(response);
            });
        },

        getStats: function(criteria) {

            return apiStats.get({
                sub1: this.$get('account.id')
            }, criteria).then(function(response) {
                // Stats have been received successfully. Let's set them.
                this.$set('account.stats', convertStats(response.data, this.$get('account.date_time_zone')));
                this.$emit('stats-loaded');
            }, function(response) {
                console.log('Stats get failed.');
                console.log(response);
            });
        }
    }
}
</script>
