<style>

</style>

<template>
<div class="info-box">
<slot name="icon"></slot>

  <div class="info-box-content">
    <span class="info-box-text">
      <slot name="text"></slot>
    </span>
    <span class="info-box-number">
      <slot name="number"></slot>
    </span>
  </slot>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</template>

<script>
module.exports = {
  name: 'infoBox',
  data: function () {
    return {
      visible: false,
    }
  },
  ready: function()
    {

    },
  methods:
    {

    }
}
</script>