<style lang="less" scoped>
.math-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .math-box-text {
          font-size: 14px;
          color: #8B8D92;
          font-weight: 500;
    }

    .math-box-number {
          font-weight: bold;
          font-size: 18px;
    }

    .math-box-problem {

      .table {
        margin-bottom: 0px;
      }

      .math-box-text {
          text-align: right;
      }
      .math-box-number {
          text-align: center;
          border-bottom: solid 1px #999;
      }
      .math-box-text, .math-box-number {
        border-width: 0px;
        vertical-align: middle;
        padding: 4px 4px;
      }
      .math-box-top .math-box-number {
        border-bottom: solid 1px #999;
      }
  }

  .math-box-equals {
    color: #333;
    font-size: 28px;
    padding: 0px 4px;
    font-weight: 100;
  }

  .math-box-answer {
    text-align: center;
    margin-right: 10px;

    .math-box-number {
      display: block;
    }

    .math-box-text {
      display: block;
    }
  }
}
</style>

<template>
<div class="math-box">
<slot name="icon"></slot>

  <div class="math-box-problem">
    <table class="table">
        <tbody>
            <tr class="math-box-top">
                <th class="math-box-text">
                    {{ numbers[0]['stat'] }}
                </th>
                <td class="math-box-number">
                    {{ numbers[0]['value'] }}
                </td>
            </tr>
            <tr class="math-box-bottom">
                <th class="math-box-text">
                    {{ numbers[1]['stat'] }}
                </th>
                <td class="math-box-number">
                    {{ numbers[1]['value'] }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <!-- /.math-box-problem -->

  <div class="math-box-equals">=</div>

  <div class="math-box-answer">
      <span class="math-box-number">
          {{ numbers[2]['value'] }}
      </span>
      <span class="math-box-text">
        {{ numbers[2]['stat'] }}
      </span>
  </div>
  <!-- /.math-box-answer -->

</div>
<!-- /.math-box -->
</template>

<script>
module.exports = {
  name: 'mathBox',
  data: function () {
    return {
      visible: false,
    }
  },
  props: [
    'numbers'
  ],
  ready: function()
    {

    },
  methods:
    {

    }
}
</script>