<style>
#skeuocard {
  margin: 0 auto;
}
.skeuocard.js .cc-field input {
  background: #fff;
}
</style>

<template>

<link rel="stylesheet" href="/plugins/skeuocard/styles/skeuocard.reset.css" />
<link rel="stylesheet" href="/plugins/skeuocard/styles/skeuocard.css" />
<!-- <link rel="stylesheet" href="/css/skeuocard.css" /> -->

<div class="modal fade" id="stripe-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add a Card</h4>
              </div>
              <div class="modal-body">

              <p v-for="message in messages">{{{ message }}}</p>
              
                <section id="cc_form">






                <div class="row">


                <div class="col-xs-12 form-group">
                  <label for="cc_name">Cardholder's Name</label>
                  <input type="text" class="form-control" name="cc_name" debounce="1000" id="cc_name" placeholder="John Smith">
                </div>

                <div class="col-xs-12 form-group" v-bind:class="{ 'has-error': validNumber }">
                  <label for="cc_number">Card Number</label>
                  <input type="text" class="form-control" name="cc_number" v-model="ccNumber" debounce="1000" id="cc_number"  maxlength="16" size="16">
                </div>

                <div class="col-xs-12 col-md-6 form-group" style="padding-left:0px;padding-right:0px;" id="ccExpDates" v-bind:class="{ 'has-error': validExpiry }">
                  <div class="col-xs-12 col-md-6">
                    <label for="cc_exp_month">Exp. Month</label>
                    <select class="form-control" name="cc_exp_month" id="cc_exp_month" v-model="ccExpMonth" debounce="3000">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <label for="cc_exp_year">Exp. Year</label>
                    <select class="form-control" name="cc_exp_year" id="cc_exp_year" v-model="ccExpYear" debounce="3000">
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group" v-bind:class="{ 'has-error': validCVC }">
                    <label for="cc_cvc">Card Validation Code</label>
                    <input type="text" class="form-control" name="cc_cvc" id="cc_cvc" placeholder="123" maxlength="3" size="3" v-model="ccCVC" debounce="1000">
                </div>

                



           </div>







      </section>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cardBtn" v-on:click="validateCard"> <span v-if="processing"><i class="fa fa-refresh fa-spin"></i></span><span v-else>Submit</span></button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
</template>

<script>
//var Skeuocard = require('Skeuocard');

module.exports = {
    data: function()
      {
        return {
            ccNumber: null,
            ccExpMonth: null,
            ccExpYear: null,
            ccCVC: null,
            cardValid: false,
            validNumber: false,
            validExpiry: false,
            validCVC: false,
            processing: false,
            messages: [
                'Before you can activate accounts, you\'ll need to add a card.',
                '<strong>Note:</strong> Your card information is <em>never</em> stored on our servers. It is processed securely by <a href="https://stripe.com/" target="_blank">stripe</a>. We just tell them what to bill you.'
            ]
        }
    },
    ready: function () {
      Stripe.setPublishableKey(config.services.stripe.publishable_key);
      $('#cc_form input').val('');
    },
    methods:
    {

        validateCard: function()
        {
          this.processing = true;
          $('cardBtn').prop('disabled', true);

          Stripe.card.createToken({
            name: $('#cc_name').val(),
            number: $('#cc_number').val(),
            cvc: $('#cc_cvc').val(),
            exp_month: $('#cc_exp_month').val(),
            exp_year: $('#cc_exp_year').val()
          }, this.stripeResponseHandler);

        },

        stripeResponseHandler: function(status, response) {
          console.log(status);
          console.log(response);
          var $form = $('#payment-form');

          if (response.error) {
            this.messages = [response.error.message];
            this.processing = false;
            $('cardBtn').prop('disabled', false);
          } else {
            // response contains id and bank_account, which contains additional bank account details
            var token = response.id;
            console.log('we are good');
          }
        }
    },
    watch:
    {
      'ccNumber': function (val) {
        this.validNumber = !Stripe.card.validateCardNumber(val);
      },
      'ccExpMonth': function (val) {
        this.validExpiry = Stripe.card.validateExpiry(val);
      },
      'ccExpYear': function (val) {
        this.validExpiry = !Stripe.card.validateExpiry(val);
      },
      'ccCVC': function (val) {
        this.validCVC = !Stripe.card.validateCVC(val);
      }
    },

}

</script>



