<style>

</style>

<template>

<!-- If the user is not active, and they didn't cancel, it means that
	  they haven't entered a card yet -->
<add-card v-if="user.billing.active != true && user.billing.canceled != true"></add-card>

</template>

<script>
import addCard from './add-card.vue';

module.exports = {
	components:
    {
        'add-card': addCard
    },
	props: 
    [
        'user'
    ],
    data: function () 
    {
        return {
        modalTitle: 'Billing',
        //test: _.size(appInstance.user.account.accounts)
        }
    },
    ready: function () {
    	Stripe.setPublishableKey(config.services.stripe.publishable_key);
    }

}
</script>