<!-- This whole thing seems sloppy. I should check some other way. TODO -->
<style scoped>
.callout {
	margin-top:15px;
	padding: 5px 15px;
}
p {
	margin: 0;
}
</style>

<template>
<div class="container" v-if="$root.authenticated && this.user.billing !== 'undefined' && this.user.billing.cancelled === true">
	<div class="callout callout-danger">
		<p>Your subscription has been cancelled. You will continue to have access until <strong>{{ humanDate }}</strong></p>
		<p>To resume your subscription, visit your <a v-link="{ path: '/auth/profile' }">Profile</a> page.</p>
	</div>
</div>
</template>

<script>
module.exports = {
    name: 'cancelCheck',
	computed: {
	    // a computed getter
	    humanDate: function () {
	      // `this` points to the vm instance
	      return moment(this.user.billing.subscription_ends_at).format("dddd, MMMM Do YYYY, h:mm a");
	    }
	},
	data: function () 
    {
        return {
        	humanDate: null,
        }
    },
    props: 
    [
        'user'
    ]
}
</script>