<style scoped>
.notifications-menu > .dropdown-menu > li .menu > li > a {
    white-space: normal;
}
</style>

<template>
<li class="dropdown notifications-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning" v-if="notifications | size > 0">{{ notifications | size }}</span>
      </a>
      <ul class="dropdown-menu">
        <li class="header">You have {{ notifications | size }} notifications</li>
        <li>
          <!-- inner menu: contains the actual data -->
          <ul class="menu">
          <li v-for="notification in notifications">
              <a v-link="{ path: notification.link }">
                <i class="fa {{ notification.class }}"></i> {{ notification.text }}
              </a>
          </li>
          </ul>
        </li>
      </ul>
    </li>
</template>

<script>
module.exports = {
    name: 'notifications',
    computed: {
        // a computed getter
        humanDate: function () {
          // `this` points to the vm instance
          return moment(this.user.billing.subscription_ends_at).format("dddd, MMMM Do YYYY, h:mm a");
        }
    },
    props: 
    [
        'user'
    ],
    data: function () 
    {
        return {
        notifications: [],
        }
    },
        methods:
    {
        cancelCheck: function()
        {
          if (this.$root.authenticated && this.user.billing !== 'undefined' && this.user.billing.cancelled === true) {
            notification = {
              class: 'fa fa-warning text-red',
              text: 'Your subscription has been cancelled. You will continue to have access until ' + this.humanDate + '.',
              link: '/auth/profile'
            };
            this.notifications.push(notification);
          }
        }
    },
    ready: function ()
    {
      this.cancelCheck();
    }

}
</script>