<style scoped>
.modal-footer {
    text-align: center;
}
</style>

<template>
<div class="modal modal-default fade" id="activateAccountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Activate Account # {{ selected }}?</h4>
      </div>
      <div class="modal-body">
        <p v-for="message in messages">{{{ message }}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <p class="errorText" style="display:inline-block" v-cloak>{{responseMessage}}</p>
        <button type="button" class="btn btn-primary pull-right" v-on:click="activate($event)">Confirm</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</template>

<script>
module.exports = {
    name: 'ActivateAccountModal',
    props: [
        'selected'
    ],
    data: function() {
        return {
            responseMessage: '',
            messages: [
                'Would you like to activate this account? Data will start showing up on the account owners dashboard within 48 hours.',
                'Note: You will not be able to deactivate this account for 31 days.'
            ],
            content: '<p>Would you like to activate this account? Data will start showing up on the account owners dashboard within 48 hours.</p>' +
                '<p><strong>Note:</strong> You will not be able to deactivate this account for 31 days.</p>',
        }
    },
    methods: {
        activate: function(account_id) {
            console.log($.fn.modal);
            var self = this;
            var modal = bootbox.dialog({
                title: 'Activate Account #' + account_id + '?',
                message: self.content,
                buttons: {
                    close: {
                        label: "Close",
                        className: "btn-default pull-left"
                    },
                    confirm: {
                        label: "Confirm",
                        className: "btn-primary pull-right",
                        callback: function() {
                            apiAccount.update({
                                sub1: account_id,
                                sub2: 'activate'
                            }, {
                                nothing: '',
                            }).then(function(response) {

                                self.$dispatch('accountNeedsRefreshed');
                                modal.modal('hide');

                                bootbox.dialog({
                                    className: 'modal-success',
                                    title: 'Activation Successful',
                                    message: response.data.message,
                                    buttons: {
                                        close: {
                                            label: "Close",
                                            className: "btn-outline pull-left"
                                        }
                                    }
                                });
                            }, function(response) {
                                modal.modal('hide');

                                bootbox.dialog({
                                    className: 'modal-danger',
                                    title: 'Activation Failed',
                                    message: response.data.message + '<p>Common reasons include: <ul><li>Using up all of your active account slots</li><li>The account has been activated by another manager account</li></ul></p><p>Please contact me if you need any assistance</p>',
                                    buttons: {
                                        close: {
                                            label: "Close",
                                            className: "btn-outline pull-left"
                                        }
                                    }
                                });

                                self.$dispatch('accountNeedsRefreshed');
                            });

                            return false;
                        }
                    }
                }
            });

        }
    },
    events: {
        'activateAccount': function(account_id) {
            this.activate(account_id);
        }
    },
    ready: function() {

    }
}
</script> 