<style scoped>
.modal-footer {
    text-align: center;
}
</style>

<script>
module.exports = {
    name: 'DeActivateAccountModal',
    props: [
        'selected'
    ],
    data: function()
    {
        return {
            content: '<p>Are you sure you want to Deactivate this account? The account owner will still be able to login, although the data for the account will no longer be updated.',
        }
    },
    methods:
    {

        deActivate: function(account_id)
        {
            var self = this;
            var modal = bootbox.dialog(
            {
                title: 'Deactivate Account #' + account_id + '?',
                message: self.content,
                buttons:
                {
                    close:
                    {
                        label: "Close",
                        className: "btn-default pull-left"
                    },
                    confirm:
                    {
                        label: "Confirm",
                        className: "btn-primary pull-right",
                        callback: function()
                        {
                            apiAccount.delete(
                            {
                                sub1: account_id,
                                sub2: 'activate'
                            },
                            {
                                nothing: '',
                            }, function(data, status, request)
                            {

                                self.$dispatch('accountNeedsRefreshed');
                                modal.modal('hide');

                                bootbox.dialog(
                                {
                                    className: 'modal-success',
                                    title: 'Deactivation Successful',
                                    message: data.message,
                                    buttons:
                                    {
                                        close:
                                        {
                                            label: "Close",
                                            className: "btn-outline pull-left"
                                        }
                                    }
                                });

                            }).error(function(data, status, request)
                            {
                                modal.modal('hide');

                                bootbox.dialog(
                                {
                                    className: 'modal-danger',
                                    title: 'Deactivation Failed',
                                    message: data.message + '<p>Common reasons include: <ul><li>The account was activated less than 31 days prior to attempted Deactivation</li><li>You were not the user to activate the account</li></ul></p><p>Please contact me if you need any assistance</p>',
                                    buttons:
                                    {
                                        close:
                                        {
                                            label: "Close",
                                            className: "btn-outline pull-left"
                                        }
                                    }
                                });


                                self.$dispatch('accountNeedsRefreshed');
                            });
                            return false;
                        }
                    }
                }
            });

        }
    },
    events:
    {
        'deActivateAccount': function(account_id)
        {
            this.deActivate(account_id);
        }
    },
    ready: function()
    {

    }
}
</script> 